{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}





{% block body %}
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background: url(/img/slide/slide-1.PNG);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span>Un restaurant</span> unique</h2>
                                <p class="animate__animated animate__fadeInUp">Un zeste d'originalité, un mélange des saveurs, une assiette aussi belle que bonne ..</p>
                                <div>
                                    <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nos menus</a>
                                    <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Reserver une table</a>
                                    <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Commander a emporter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background: url(/img/slide/slide-2.PNG);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Un univers féérique</h2>
                                <p class="animate__animated animate__fadeInUp">Un petit coin de paradis ou le temps est suspendu le temps d’un agréable repas</p>
                                <div>
                                    <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nos menus</a>
                                    <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Reserver une table</a>
                                    <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Commander a emporter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background: url(/img/slide/slide-3.PNG);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Des moments inoubliables</h2>
                                <p class="animate__animated animate__fadeInUp">Jolie petite enseigne au coeur de la ville idéale pour une petite faim gourmande aux quatre heures</p>
                                <div>
                                    <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nos menus</a>
                                    <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Reserver une table</a>
                                    <a href="#book-a-table" class="btn-book animate__animated animate__fadeInUp scrollto">Commander a emporter</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Whu Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="section-title">
                    <h2>Pourquoi choisir <span>notre restaurant</span></h2>
                    <p>Ouvert depuis 1981, nous vous offrons :</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box">
                            <span>01</span>
                            <h4>De la magie</h4>
                            <p>Un p'tit coin de paradis avec un personnel au top. Un cadre atypique qui rappel un peu le monde d'Alice au pays des merveilles </p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <span>02</span>
                            <h4>Une cuisine faite maison</h4>
                            <p>Des plats succulents aux saveurs savamment entremêlés afin de vous surprendre aussi bien les papilles que les yeux!</p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box">
                            <span>03</span>
                            <h4>Des produits issus de la région</h4>
                            <p>Toute la cuisine faite maison est souvent biologique. Nous proposons des plats pour les végétaliens et végétariens.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Whu Us Section -->

        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu">
            <div class="container">

                <div class="section-title">
                    <h2>Check our tasty <span>Menu</span></h2>
                </div>

                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter="*" class="filter-active">Show All</li>
                            <li data-filter=".filter-starters">Starters</li>
                            <li data-filter=".filter-salads">Salads</li>
                            <li data-filter=".filter-specialty">Specialty</li>
                        </ul>
                    </div>
                </div>

                <div class="row menu-container">

                    <div class="col-lg-6 menu-item filter-starters">
                        <div class="menu-content">
                            <a href="#">Lobster Bisque</a><span>$5.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Lorem, deren, trataro, filede, nerada
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <div class="menu-content">
                            <a href="#">Bread barrel</a><span>$6.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Lorem, deren, trataro, filede, nerada
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-starters">
                        <div class="menu-content">
                            <a href="#">Crab Cake</a><span>$7.95</span>
                        </div>
                        <div class="menu-ingredients">
                            A delicate crab cake served on a toasted roll with lettuce and tartar sauce
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-salads">
                        <div class="menu-content">
                            <a href="#">Caesar Selections</a><span>$8.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Lorem, deren, trataro, filede, nerada
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <div class="menu-content">
                            <a href="#">Tuscan Grilled</a><span>$9.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Grilled chicken with provolone, artichoke hearts, and roasted red pesto
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-starters">
                        <div class="menu-content">
                            <a href="#">Mozzarella Stick</a><span>$4.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Lorem, deren, trataro, filede, nerada
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-salads">
                        <div class="menu-content">
                            <a href="#">Greek Salad</a><span>$9.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Fresh spinach, crisp romaine, tomatoes, and Greek olives
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-salads">
                        <div class="menu-content">
                            <a href="#">Spinach Salad</a><span>$9.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Fresh spinach with mushrooms, hard boiled egg, and warm bacon vinaigrette
                        </div>
                    </div>

                    <div class="col-lg-6 menu-item filter-specialty">
                        <div class="menu-content">
                            <a href="#">Lobster Roll</a><span>$12.95</span>
                        </div>
                        <div class="menu-ingredients">
                            Plump lobster meat, mayo and crisp lettuce on a toasted bulky roll
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Menu Section -->

        <!-- ======= Book A Table Section ======= -->
        <section id="book-a-table" class="book-a-table">
            <div class="container">

                <div class="section-title">
                    <h2>Réserver une <span>Table ...</span></h2>
                    <p>... pour être sûr de manger chez nous !</p>
                </div>

                {{ form_start(reservationForm) }}

                <div class="form-row">
                    <div class="col-lg-4 col-md-6 form-group">
                        {{ form_errors(reservationForm.nom) }}
                        {{ form_widget(reservationForm.nom) }}
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        {{ form_errors(reservationForm.email) }}
                        {{ form_widget(reservationForm.email) }}
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        {{ form_errors(reservationForm.telephone) }}
                        {{ form_widget(reservationForm.telephone) }}
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        {{ form_errors(reservationForm.date) }}
                        {{ form_widget(reservationForm.date)}}
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        {{ form_errors(reservationForm.heure) }}
                        {{ form_widget(reservationForm.heure)}}
                    </div>
                    <div class="col-lg-4 col-md-6 form-group">
                        {{ form_errors(reservationForm.personne) }}
                        {{ form_widget(reservationForm.personne) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_widget(reservationForm.message) }}
                    <button type="submit" class="btn btn-primary mt-3">Réserver</button>
                </div>

        {{ form_end(reservationForm) }}



            </div>
        </section><!-- End Book A Table Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">

                <div class="section-title">
                    <h2>Quelques Photos de <span>Notre Restaurant</span></h2>
                    <p>Découvrez ou redécouvrez le !</p>
                </div>

                <div class="row no-gutters">


                    {% for plas in pla %}
                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="{{ vich_uploader_asset(plas, 'imageFile')|imagine_filter('rectangle') }}" class="venobox" data-gall="gallery-item">
                                <img src="{{ vich_uploader_asset(plas, 'imageFile')|imagine_filter('carre') }}" alt="{{ plas.imageName}}" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    {% endfor %}
            </div>
        </section><!-- End Gallery Section -->


        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="owl-carousel testimonials-carousel">
                    {% for plas1 in pla1 %}
                    <div class="testimonial-item">
                        {{ plas1.contenu }}
                        <hr>
                        <span class="note">
                        {% for i in 1..5 %}
                        {% if i <=  plas1.note  %}
                            <i class="icofont-star"></i>
            {% else  %}
                <i class="icofont-star-shape"></i>
            {% endif %}
        {% endfor %}
</span>
                        <hr>
                        <td><a href="" class="btn btn-dark">Donner votre avis</a></td>
                        <td><a href="{{ path('commentaire') }}" class="btn btn-dark">Voir tous les avis</a></td>

                    </div>


                    {% endfor%}
                </div>


            </div>
        </section><!-- End Testimonials Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2><span>Contacter</span> nous</h2>
                    <p>N'hésitez pas à nous contacter, nous vous ferons un plaisir de vous répondre.</p>
                </div>
            </div>

            <div class="map">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2708.9484242333965!2d6.02546371565421!3d47.23715472141885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478d633be49c3835%3A0x89f966870d807650!2s79%20Rue%20des%20Granges%2C%2025000%20Besan%C3%A7on!5e0!3m2!1sfr!2sfr!4v1595879910538!5m2!1sfr!2sfr" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container mt-5">

                <div class="info-wrap">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 info">
                            <i class="icofont-google-map"></i>
                            <h4>Adresse:</h4>
                            <p>79 Rue des Granges<br>25000 Besançon</p>
                        </div>

                        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                            <i class="icofont-clock-time icofont-rotate-90"></i>
                            <h4>Horaire:</h4>
                            <p>Mardi-Samedi:<br>12:00 - 22:00</p>
                        </div>

                        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>eglantinedebetises<br>@hotmail.fr</p>
                        </div>

                        <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                            <i class="icofont-phone"></i>
                            <h4>Telephone:</h4>
                            <p>03 81 50 83 45</p>
                        </div>
                    </div>
                </div>

                {{ form_start(contactForm) }}
                <div class="form-row">
                    <div class="col-md-6 form-group">
                {{ form_widget(contactForm.Nom) }}
                    </div>
                    <div class="col-md-6 form-group">
                {{ form_widget(contactForm.Email) }}
                    </div>
                </div>

                <div class="form-group">
                {{ form_widget(contactForm.Sujet) }}
                </div>
                <div class="form-group">
                {{ form_widget(contactForm.Message) }}
                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                </div>

                {{ form_end(contactForm) }}

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->


{% endblock %}

