{% extends 'base.html.twig' %}

{% block title %}Avis des clients{% endblock %}

{% block body %}
<div class="container">

    {% if repo|length > 0 %}
    <h2 class="titre pb-3">Avis des clients</h2>

    <div class="alert alert-info">
        <h2 class="alert-heading">
            <div class="row">
                <div class="col">
                    Note globale donnée par nos clients
                </div>
                <div class="col">
                    {% for repos2 in repo2 %}
                        <span class="note">
        {% for i in 1..5 %}
            {% if i <= repos2.note %}
                <i class='bx bxs-star bx-flashing' ></i>
            {% else  %}
                <i class='bx bx-star bx-flashing' ></i>
            {% endif %}
        {% endfor %}
</span>
                    {% endfor %}
                </div>
            </div>
        </h2>
    </div>
    {% for repos in repo %}

            <div class="bg-light rounded mt-5 mb-5 py-3 px-3">
                <strong>{{ repos.prenom }} {{ repos.nom }}</strong> a dit :
                <blockquote>
                    {{ repos.contenu }}
                </blockquote>
                <strong>Note donnée par {{ repos.prenom }} {{ repos.nom }}</strong> :
                <span class="note">
        {% for i in 1..5 %}
            {% if i <= repos.note %}
                <i class='bx bxs-star bx-spin' ></i>
            {% else  %}
                <i class='bx bx-star bx-spin' ></i>
            {% endif %}
        {% endfor %}
</span>
            </div>

        {% endfor%}

    {% else %}
    <h2 class="titre pb-3">En attente de commentaire</h2>
    <img src="/img/betiseetvolupthe.jpg" width="200" height="300"  alt="" class="pb-5">
    {% endif %}
    <div class="navigation">
        <h3>{{ knp_pagination_render(repo) }}</h3>
    </div>
</div>


{% endblock %}
