<h1>Nouvelle Reservation</h1>

<p>Nom : {{ reservation.nom }}</p>
<p>Email : {{ reservation.email }}</p>
<p>Telephone : {{ reservation.telephone }}</p>
<p>Nombre : {{ reservation.personne }}</p>
<p>Message : {{ reservation.message|raw }}</p>
